@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=Doppio+One);

img, embed, object{
	max-width: 100%;
}

body {
	margin: 0px;
	text-align: center;
	padding: 0px 20px 0px 20px;
	border-top: 4px solid #0088aa;
}

body, div, a, input, select, button, textarea {
	font-family: 'PT Sans';
	font-size: 14px;
	color: #333333;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Doppio One";
	font-weight: bold;
}

code {
	font-weight: bold;
}

pre code {
	font-weight: normal;
}

a {
	text-decoration: none;
	color: #0088aa;
	font-size: 100%;
}

a:hover {
	text-decoration: none;
}

img{
	border: 0px;
}

a img {
	border: 0px;
}

#heading {
	margin: 20px 0px 15px 0px;
	position: relative;
	padding: 0px 0px 15px 0px;
}


#heading h1 {
	font-size: 80px;
	font-weight: normal;
	margin: 30px 0px 0px 0px;
	color: #c83737;
}

#heading h2 {
	font-size: 40px;
	font-weight: normal;
	margin: 0px 0px 10px 0px;
	color: #666666;
}

#heading h2 a {
	color: inherit;
	font-size: inherit;
	border-bottom: 2px dashed #007eaa;
}

#heading-small {
	text-align: left;
}

#heading-small h1 {
	font-size: 40px;
	font-weight: normal;
	margin: 30px 0px 0px 0px;
	color: #c83737;
}

#heading-small h2 {
	font-size: 20px;
	font-weight: normal;
	margin: 0px 0px 10px 0px;
	color: #666666;
}

#heading-small h2 a {
	color: inherit;
	font-size: inherit;
	border-bottom: 2px dashed #007eaa;
}

#links {
	font-size: 20px;
}


#layout {
	width: 95%;
	margin: auto;
	text-align: center;
}

#logo {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid rgb(220, 220, 220);
}

#logo a {
    color: #000000;
    text-decoration: none;
    font-family: "Doppio One";
}

#logo #logo_docs {
	color: #d40055;
}

#links {
	margin: 20px 0 0 0;
	text-align: center;
}

a.btn {
    color: #225b82;
}

#links img {

	box-shadow: 0 0px 0px #cccccc;
	border-radius: 0px;
    padding: 0px;
    margin-bottom: 10px;
}

#content {
	margin: 20px 0px 0px;
}

#footer {
	margin: 30px 0px 0px 0px;
	padding: 10px 0px 10px 0px;
	text-align: center;
	font-size: 13px;
}

#content-list {
	text-align: left;
	margin: 40px auto 0px auto;
}

#content-list ul {
	list-style:none; 
	margin: auto;
	padding: 0px;
}

#content-list ul li {
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 10px 0px;
}

#content-list ul li img {
	width: 95%;
}

.post {
	width: 100%;
	border-bottom: 1px dashed rgb(200, 200, 200);
}

.post-title {
	margin: 0px 0px 8px 0px;
	line-height: 1;
	font-size: 22px;
	font-family: 'PT Sans';
}

.post-date {
	font-size: 13px;
	color: #666;
}

.post-content {
	margin-top: 10px;
	font-size: 16px;
}

#side-bar {
	width: 20%;
	float: left;
	margin: 30px 0px 0px 0px;
}

#side-bar #user-name{
	font-size: 12px;
	margin: 5px 0px 0px 0px;
}

#side-bar #tags {

	margin: 20px 0px 0px 0px;
}

#side-bar #date {
	font-size: 11px;
}

#page-title {
	margin-top: 0px;
	padding-top: 0px;
	font-size: 30px;
}

#page {
	margin-top: 20px;
	width: 75%;
	float: left;
	padding-left: 3%;
	border-left: 1px dashed #ddd;
	font-size: 1.15em;
	overflow: hidden;
}

.tag {
	font-size: 12px;
    padding: 2px 6px 2px 6px;
    color: white;
    line-height: 24px;
}

blockquote{

	font-family: monospace;
	font-size: 16px;
	/*font-style: italic;*/
	border-left: 4px solid #ddd;
	padding-left: 20px;
}

.nodejs { background-color: #008080}
.php { background-color: #aa00d4}
.js { background-color: #2d5016}
.jekyll { background-color: #aa0088}
.marketing { background-color: #bb0066}
.github { background-color: #8b4513}
.websocket { background-color: #440055 }


/****** Media Queries For Adaptive Layouts******/

@media only screen and (min-width: 1367) {

	#content-list {
		width: 800px;
	}	
}

@media only screen and (max-width: 1366) {

	#content-list {
		width: 800px;
	}
}

/* Tables - Landscape */
@media only screen and (max-width: 1280) {

	
}

/* Tables - Landscape */
@media 
only screen and (max-device-width:1024px),
only screen and (max-width: 1024px) {
	#content-list {
		width: auto;
	}
}

/* Tables - Verticle */
@media 
only screen and (max-device-width:768px),
only screen and (max-width: 768px) {

	#heading h1 {
		font-size: 60px;
	}

	#heading h2 {
		font-size: 30px;
	}
}

/* Smart Phone */
@media 
only screen and (max-device-width:600px),
only screen and (max-width: 600px) {

	#logo, #links {
		float: none;
		text-align: center;
	}

	#heading h1 {
		font-size: 40px;
	}

	#heading h2 {
		font-size: 20px;
	}

	#links {
		margin: 0 0 0 0;
	}

	#side-bar {
		display: none;
	}

	#page {
		border-left: 0px;
		width: 100%;
		margin: 0 0 0 0 ;
		padding: 0 0 0 0 ;
	}

	#page img {
		width: 100%;
	}
}
