<script type="text/javascript" src='/js/jquery.min.js'></script>
<script type="text/javascript" src='/js/bootstrap.min.js'></script>
<script type="text/javascript" src="//use.typekit.net/nok3jzz.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript" src="https://gumroad.com/js/gumroad.js">
</script>

<!-- Highlight JS -->
<link rel="stylesheet" href="/vendor/highlight/styles/zenburn.css">
<script type="text/javascript" src='/vendor/highlight/highlight.pack.js'></script>
<script>hljs.initHighlightingOnLoad();</script>
