<header class="navbar navbar-default" role="banner">
  <div class='container'>
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".mh-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id='mh-navbar-brand' href="/">MeteorHacks</a>
    </div>
    <nav class='collapse navbar-collapse mh-navbar-collapse clearfix' role='navigation'>
      <ul class="nav navbar-nav pull-right">
        <!-- <li><a href="#">Pro Meteor</a></li> -->
        <li><a href="/meteor-weekly">Meteor Weekly</a></li>
        <!-- <li><a href="https://cometengine.com">CometEngine</a></li> -->
      </ul>
    </nav>
  </div>
</header>