<div class='home-logo'>
  <div class='col-xs-12'>
    <div class='hidden-xs'>
      <div class='home-logo-meteorhacks'><h1>Meteor Weekly<h1></div>
      <div class='home-logo-tagline'><h2>Weekly News and Updates around the Meteor JS Community</h2></div>
    </div>
    <div class='visible-xs'>
      <div class='home-logo-meteorhacks-xs'><h1>Meteor Weekly<h1></div>
      <div class='home-logo-tagline-xs'><h2>Weekly News and Updates around the Meteor JS Community</h2></div>
    </div>
  </div>
</div>

<div class='container meteor-weekly-title2'>
  published <b>Every Monday</b> covering 
    <a href='https://groups.google.com/forum/#!forum/meteor-talk'>meteor-talk</a>, 
    <a href='https://groups.google.com/forum/#!forum/meteor-core'>meteor-core</a>, 
    <a href='https://github.com/meteor/meteor/issues'>github</a>, 
    <a href='https://atmosphere.meteor.com'>atmosphere</a> and 
    <a href='https://twitter.com/search?q=meteorjs'>twitter</a>
</div>

<!-- Subscription Window -->
<div class='container' class='subscription-window' style='max-width: 1000px;'>
  <div class='col-md-12 meteor-weekly-subscription-window' style='padding: 0px;'>
    <div class='subscribe-form'>
      <form action="https://madmimi.com/signups/subscribe/92366" method="post" target="_blank">
        <input type='text' name='signup[email]' class='subscribe-form-email' placeholder='Enter your email' />
        <input type='submit' class='subscribe-form-submit' value='Subscribe Now' />
      </form>
    </div>
  </div>
</div>

<div class='container' id='meteor-weekly-authors'>
  curated by <a href='https://twitter.com/arunoda'>@arunoda</a> and edited by <a href='https://twitter.com/alokag'>@alokag</a>
</div>