<!DOCTYPE html>
<html lang='en'>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  {% include common_js.html %}
</head>
<body>

  <!-- Header Area -->
  {% include header.html %}

  <div class='container ebook-thankyou'>
    <h1>Thank You!</h1>
    <h2>You'll receive an email with the intructions to download the eBook shortly.</h2>
  </div>

  <!-- Footer goes here -->
  {% include footer.html %}

  <!-- GA goes here -->
  {% include ga.html %}
</body>
</html>